.card__image {
  object-fit: none;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @include width--m {
    align-self: center;
  }
}

.card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-transform: uppercase;
  color: $color-special_dark-grey-2;

  @include set-font-item (16px, 1.25);

  @include width--m {
    @include set-font-item (20px, 1.2);
    align-self: center;
  }

  @include width--l {
    @include set-font-item (20px, 1.05);
  }
}

.card__description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: $color-special_dark-grey-2;

  @include set-font-item (12px, 1.33, $f-family_arial);

  @include width--m {
    @include set-font-item (16px, 1, $f-family_arial);
  }
}

.card__row {
  display: flex;
  justify-content: space-between;
}

.card__button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  min-width: 280px;
  min-height: 40px;

  @include set-font-item (16px, 1.25);

  @include width--m {
    min-width: 248px;
  }

  @include width--m {
    min-width: 168px;
  }
}
