.catalog__title {
  font-weight: 400;

  @include set-font-item (36px, 1);
}

.catalog__list {
  @include reset-list;

  @include width--m {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }

  @include width--l {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);

  @include width--m {
    &:nth-child(odd) {
      grid-column: 1/ 2;
    }

    &:nth-child(even) {
      grid-column: 2 / 3;
    }

    display: flex;
    flex-direction: column;
    min-width: 324px;
    min-height: 430px;
    padding: 0 36px;
    background-color: $color-basic_grey;
  }

  @include width--l {
    min-width: 245px;
    min-height: 431px;

    &:nth-child(4n + 1) {
      grid-column: 1 / 2;
    }

    &:nth-child(4n + 2) {
      grid-column: 2 / 3;
    }

    &:nth-child(4n + 3) {
      grid-column: 3 / 4;
    }

    &:nth-child(4n + 4) {
      grid-column: 4 / 5;
    }
  }
}
