.categories-list {
  @include reset-list;
  margin-bottom: 26px;

  @include width--m {
    margin-bottom: 55px;
  }

  @include width--l {
    display: flex;
    flex-basis: 570px;
  }
}

.categories-item {
  min-height: 266px;
  background-color: $color-basic_grey;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  margin-bottom: 20px;

  @include width--m {
    min-height: 372px;
    padding-left: 53px;
    padding-top: 77px;
    margin-bottom: 30px;
  }

  @include width--l {
    min-width: 570px;
    min-height: 374px;
    padding-top: 70px;
    margin-bottom: 15px;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}

.categories-item--weight-loss::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 23px;
  z-index: 1;
  width: 50px;
  height: 53px;
  background: url("../img/image/cat_back.svg") no-repeat;
  background-size: cover;

  @include width--m {
    width: 200px;
    height: 211px;
    top: 89px;
    left: 446px;
  }

  @include width--l {
    width: 100px;
    height: 106px;
    top: 39px;
    left: 53px;
  }
}

.categories-item--weight-gain::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 13px;
  width: 67px;
  height: 50px;
  background: url("../img/image/cat_back-2.svg") no-repeat;
  background-size: cover;

  @include width--m {
    width: 268px;
    height: 200px;
    top: 100px;
    left: 412px;
  }

  @include width--l {
    width: 134px;
    height: 100px;
    top: 45px;
    left: 34px;
  }
}

.categories-item__title {
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 72px;
  padding-top: 8px;
  margin-bottom: 29px;

  @include set-font-item (24px, 1.54);

  @include width--m {
    padding-left: 0;
    margin-bottom: 30px;

    @include set-font-item (36px, 1);
  }

  @include width--l {
    padding-left: 163px;
    margin-bottom: 73px;
  }
}

.categories-item__text {
  @include set-font-item (14px, 1.29, $f-family_arial);
  position: relative;
  margin: 0;
  margin-bottom: 42px;

  @media (max-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: -23px;
      background-color: $color-border-gray_2;
    }
  }

  @include width--m {
    @include set-font-item (16px, 1.5, $f-family_arial);
    width: 374px;
    margin-bottom: 48px;
  }

  @include width--l {
    width: 465px;
    margin-bottom: 23px;
  }
}

.categories-item--weight-gain .categories-item__text {
  @include width--m {
    width: 342px;
  }

  @include width--l {
    width: 465px;
  }
}

.categories-item__link {
  text-transform: uppercase;

  @include set-font-item (16px, 1);

  @include width--m {
    @include set-font-item (20px, 1.5);

    &:active {
      opacity: 0.3;
    }
  }
}
