.form-section {
  @include set-font-item (16px, 1.12);

  @include width--m {
    @include set-font-item (20px, 1.5);
  }
}

.form-section__title {
  font-weight: 400;
  margin-bottom: 37px;

  @include set-font-item (36px, 1);

  @include width--m {
    margin-bottom: 59px;

    @include set-font-item (60px, 1);
  }

  @include width--l {
    margin-bottom: 56px;
  }
}

.form-section__prompt {
  margin-bottom: 39px;

  @include set-font-item (14px, 1.29);

  @include width--m {
    margin-bottom: 66px;

    @include set-font-item (20px, 1.5);
  }
}

.pet-form__name,
.pet-form__goal,
.pet-form__contacts,
.pet-form__comment,
.pet-form__additional {
  border: none;

  @include reset-indent;
}

.pet-form__name-goal {
  @include width--l {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    display: flex;
  }
}

.pet-form__name {
  margin-bottom: 51px;

  @include width--m {
    margin-bottom: 72px;
  }
}

.pet-form__name .wrapper,
.pet-form__goal .wrapper {
  @include width--l {
    min-width: 0;
    width: 568px;
    padding: 0;
  }
}

.pet-form__name .wrapper,
.owner-contacts .wrapper {
  display: flex;
  flex-direction: column;
}

.pet-form__input-row {
  display: flex;
  flex-direction: row;
}

.pet-form__label {
  margin-right: 13px;
  flex-basis: max-content;
  align-self: center;
  color: $color-special-dark-grey;

  &--mail {
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 220px;
      width: 18px;
      height: 13px;
      z-index: 1;
      background: url("../img/icon/icon-mail.svg") no-repeat;
    }
  }

  &--tel {
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 220px;
      width: 18px;
      height: 21px;
      z-index: 1;
      background: url("../img/icon/icon-tel.svg") no-repeat;
    }
  }
}

.pet-form__input-text {
  min-height: 45px;
  position: relative;

  &::placeholder {
    color: $color-special-dark-grey;
  }
  flex-grow: 1;


  @include reset-indent;
  padding-left: 16px;
  margin-bottom: 12px;
  border: 1px solid $color-special-grey-3;

  @include width--m {
    min-width: 497px;
  }
}

.pet-form__goal {
  border-top: 1px solid $color-border-gray_2;
  border-bottom: 1px solid $color-border-gray_2;
  margin-bottom: 20px;
  min-height: 157px;

  @include width--m {
    border: none;
  }
}

.pet-form__legend {
  padding-left: 20px;
  margin-bottom: 35px;

  @include set-font-item (24px, 1.08);

  @include width--m {
    @include set-font-item (36px, 1);
  }
}

.goal-list {
  @include reset-list;
  @include reset-indent;

  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 25px;
  padding-left: 28px;

  @include width--m {
    min-height: 200px;
    border: 1px solid $color-border-gray_2;
  }
}

.goal-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.pet-form__contacts {
  margin-bottom: 24px;
}

.pet-form__comment {
  margin-bottom: 23px;
}

.pet-form__comment-area {
  min-height: 150px;
  width: 100%;
  padding-left: 15px;
  padding-top: 9px;
  padding-right: 12px;

  @include set-font-item (16px, 1.12);

  @include width--m {
    @include set-font-item (20px, 1.5);
  }
}

.pet-form__additional {
  margin-bottom: 21px;
}

.additional-category__list {
  @include reset-list;
  text-transform: uppercase;

  @include width--m {
    display: flex;
    flex-wrap: wrap;
  }
}

.additional-category__list-item {
  flex-basis: 50%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @include width--l {
    flex-basis: 25%;
  }
}

.pet-form__confirm {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include width--m {
    flex-direction: row;
  }
}

.pet-form__prompt {
  @include set-font-item (16px, 1.14, $f-family_arial);

  @include width--m {
    @include set-font-item (16px, 1, $f-family_arial);
  }
}

.pet-form__button {
  min-width: 280px;
  min-height: 40px;

  @include set-font-item (16px, 1.25);

  @include width--m {
    min-width: 282px;
    min-height: 52px;
  }

  @include width--l {
    min-width: 568px;
    min-height: 54px;
  }
}

.pet-form__contacts label {
  position: relative;
}

.pet-form__radio {
  display: none;
}

.pet-form__radio-label {
  color: $color-special-dark-grey-2;
  position: relative;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: -3px;
    left: -35px;
    border: 1px solid;
    border-color: $color-special_grey;
    border-radius: 50%;
  }

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 6px;
    left: -26px;
    background-color: $color-basic_green;
    border-radius: 50%;
    display: none;
  }

  &:hover {
    &::before {
      border-color: $color-special-grey-6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.pet-form__radio:checked + label::after {
  display: block;
}

.pet-form__checkbox--off {
  margin-right: 16px;
  fill: none;
  stroke-width: 1;
  stroke: $color-special_grey;
}

.pet-form__checkbox--on {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;

  &::before {
    content: "";
    position: absolute;
    top: 16.1px;
    left: 5px;
    width: 8px;
    height: 2px;
    background-color: $color-basic_green;
    transform: rotate(45deg);
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 9px;
    width: 15px;
    height: 2px;
    background-color: $color-basic_green;
    transform: rotate(-45deg);
    display: none;
  }

  &:hover .pet-form__checkbox--off {
    stroke: $color-special-grey-6;
  }

  &:active {
    opacity: 0.3;
  }
}

.pet-form__checkbox:checked + label {
  &::before,
  &::after {
    display: block;
  }
}
