.goods-item__title {
  text-transform: uppercase;
  color: $color-special_dark-grey-2;

  @include set-font-item (16px, 1);
}

.goods-item__description span {
  color: $color-special-dark-grey;

  @include set-font-item (14px, 1);
}

.goods-item__order-button {
  min-width: 280px;
  min-height: 40px;

  @include set-font-item (16px, 1.25);
}
