.goods-item {
  @include width--m {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.goods-item__title {
  text-transform: uppercase;
  color: $color-special_dark-grey-2;

  @include set-font-item (16px, 1);

  @include width--m {
    @include set-font-item (20px, 1);
  }

  @include width--l {
    min-width: 245px;
    margin-right: 40px;
  }
}

.goods-item__description {
  display: flex;
  justify-content: space-between;

  @include width--m {
    @include set-font-item (16px, 1.25);
    min-width: 225px;
  }

  @include width--l {
    min-width: 288px;
  }
}

.goods-item__description span {
  color: $color-special-dark-grey;

  @include set-font-item (14px, 1);
}

.goods-item__order-button {
  min-width: 100%;
  min-height: 40px;

  @include set-font-item (16px, 1.25);

  @include width--l {
    min-width: 244px;
  }
}
