.nav {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  min-width: 320px;
  margin-left: auto;

  @include set-font-item (20px, 1);

  @include width--m {
    @include set-font-item (18px, 1.33);
    font-weight: 400;
  }

  @include width--l {
    color: $color-white;

    &--color-black {
      color: $color-black;
    }

    @include set-font-item (20px, 1.5);
  }
}

.nav--closed .nav__list {
  @media (max-width: $tablet-width -1) {
    display: none;
  }
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--closed .nav__toggle {
  position: absolute;
  top: -42px;
  right: 35px;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: $color-transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    width: 18px;
    height: 1px;
    background-color: $color-black;
    box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
  }
}

.nav--opened .nav__toggle {
  position: absolute;
  top: -42px;
  right: 40px;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: $color-transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 13px;
    width: 25px;
    height: 1px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @include width--m {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;

  @include reset-list;

  @include width--m {
    flex-direction: row;
    min-width: 440px;
    padding-top: 42px;
    padding-right: 30px;
  }

  @include width--l {
    padding-top: 67px;
    padding-right: 110px;
  }
}

.nav__list-item {
  text-align: center;
  min-height: 66px;
  border-top: 1px solid $color-border-gray;
  border-width: 100%;
  padding-top: 22px;

  @include width--m {
    min-height: 36px;
    border-top: none;
    padding-top: 0;

    &:not(:first-child) {
      padding-left: 35px;
    }
  }

  @include width--l {
    &--active::after {
      background-color: $color-white;
    }
  }
}

.nav__list-item a {
  @include width--m {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.nav__list-item--active a {
  position: relative;

  @include width--m {
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-basic_green;
    }
  }
}

.nav--color-black .nav__list-item--active a::after {
  @include width--l {
    background-color: $color-basic_green;
  }
}
