.page-footer {
  background-color: $color-basic_grey;
}

.page-footer .wrapper {
  min-height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include width--m {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  padding-top: 37px;
  position: relative;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 1px;
    background-color: $color-border-gray_2;
  }
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;

  @include width--m {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.social {
  @include reset-list;
  align-self: center;
  display: flex;
  min-width: 130px;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
}

.social__link--vk,
.social__link--insta {
  fill: $color-slecial-grey-2;

  &:hover {
    fill: $color-basic_green;
  }

  &:active {
    fill: $color-basic_green;
    opacity: 0.3;
  }
}

.social__link--fb {
  fill-opacity: 0;
  stroke: $color-slecial-grey-2;

  &:hover {
    stroke: $color-basic-green;
  }

  &:active {
    stroke: $color-basic-green;
    stroke-opacity: 0.3;
  }
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 21px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -23px;
    width: 100%;
    height: 1px;
    background-color: $color-border-gray_2;
  }

  @include width--m {
    width: 0;
    min-width: 163px;
    justify-content: flex-end;
  }
}

.copyright__text {
  color: $color-slecial-grey-2;

  @include width--m {
    margin-right: 22px;

    &:active {
      opacity: 0.3;
    }
  }
}

.copyright__logo {
  fill: $color-slecial-grey-2;

  @include width--m {
    &:hover {
      fill: $color-basic_green;
    }

    &:active {
      fill: $color-basic_green;
      opacity: 0.3;
    }
  }
}
