.page-contacts {
  display: grid;
  grid-template-columns: repeat (2, min-content);
  grid-template-rows: repeat (2, min-content);
}

.page-contacts .wrapper {
  width: 100%;
  min-height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include width--m {
    justify-content: space-around;
  }

  @include width--l {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 1;
    width: 570px;
    height: 201px;
    margin-top: 95px;
    margin-left: 110px;
    background-color: $color-white;
  }
}

.page-contacts__title {
  width: 140px;
  color: $color-special-black;

  @include reset-indent;
  @include set-font-item (16px, 1.12);
  text-transform: uppercase;

  @include width--m {
    @include set-font-item (20px, 1.05);
    width: 170px;
  }
}

.page-contacts__text {
  max-width: 140px;
  color: $color-special_dark-grey;

  @include set-font-item (14px, 1.43, $f-family_arial);

  @include width--m {
    @include set-font-item (16px, 1.25, $f-family_arial);
    width: 170px;
  }
}

.page-contacts__map {
  @include width--l {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }
}
