.page-footer {
  background-color: $color-basic_grey;
}

.social__link--vk {
  fill: $color-slecial-grey-2;
}

.social__link--insta {
  fill: $color-slecial-grey-2;
}

.social__link--fb {
  color: $color-white;
  fill: $color-slecial-grey-2;
}
