.page-footer {
  background-color: $color-basic_grey;
}

.page-footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include width--m {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 130px;
}

.social__link--vk {
  fill: $color-slecial-grey-2;
}

.social__link--insta {
  fill: $color-slecial-grey-2;
}

.social__link--fb {
  fill-opacity: 0;
  stroke: $color-slecial-grey-2;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include width--m {
    width: 0;
    min-width: 163px;
    justify-content: flex-end;
  }
}

.copyright__text {
  color: $color-slecial-grey-2;

  @include width--m {
    margin-right: 22px;
  }
}

.copyright__logo {
  fill: $color-slecial-grey-2;
}
