.page-footer {
  background-color: $color-basic_grey;
}

.social {
  @include reset-list;
}

.social__link--vk {
  fill: $color-slecial-grey-2;
}

.social__link--insta {
  fill: $color-slecial-grey-2;
}

.social__link--fb {
  fill: transparent;
  stroke: $color-slecial-grey-2;
}

.copyright__text {
  color: $color-slecial-grey-2;
}

.copyright__logo {
  fill: $color-slecial-grey-2;
}
