.page-header {
  display: flex;
  flex-direction: column;

  @include width--m {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 33px;
  }

  @include width--l {
    margin-bottom: 111px;
  }
}

.page-header__inner {
  min-width: 320px;
  min-height: 66px;
  padding-top: 12px;
  padding-left: 20px;

  @include width--s {
    margin-right: auto;
  }

  @include width--m {
    min-width: 174px;
    margin: 0;
    padding-left: 30px;
    padding-top: 24px;
  }

  @include width--l {
    padding-left: 110px;
    padding-top: 53px;
  }
}

.page-header__logo {
  width: 191px;
  height: 38px;

  @include width--m {
    width: 174px;
    height: 52px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
