.product-example {
  min-height: 705px;
  padding-top: 25px;
  background-color: $color-special-grey-4;
  position: relative;

  @include width--m {
    background: none;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-special-grey-4;
      width: 100%;
      height: 462px;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.product-example .wrapper {
  @include width--l {
    display: grid;
    grid-template-columns: 436px 696px;
    grid-template-rows: repeat(4, min-content);
  }
}

.product-example__title {
  font-weight: 400;
  margin-bottom: 33px;

  @include set-font-item (36px, 1.11);

  @include width--m {
    margin-bottom: 63px;

    @include set-font-item (60px, 1);
  }

  @include width--l {
    grid-row: 1 /2;
    position: relative;
    top: -200px;
  }
}

.product-example__text {
  margin-bottom: 40px;

  @include set-font-item (14px, 1.29, $f-family_arial);

  @include width--m {
    margin-bottom: 70px;

    @include set-font-item (16px, 1.5, $f-family_arial);
  }

  @include width--l {
    grid-row: 2 /3;
    width: 436px;
  }
}

.stats-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 279px;
  margin-bottom: 40px;

  @include width--m {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  @include width--l {
    grid-row: 3 / 4;
  }
}

.stats-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 124px;
  min-height: 64px;
  margin-bottom: 13px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    min-width: 124px;
    min-height: 56px;
    top: -15px;
    left: 0;
    border: 1px solid $color-special_grey;
    border-radius: 5%;
  }

  &:first-child {
    margin-right: 31px;
  }

  @include width--m {
    min-width: 162px;
    min-height: 77px;

    &::before {
      min-width: 162px;
      min-height: 71px;
    }

    &:first-child {
      margin-right: 42px;
    }
  }

  @include width--l {
    min-width: 162px;
    min-height: 72px;
  }
}

.stats-list__title {
  @include set-font-item (24px, 1);
  text-transform: uppercase;
  margin-bottom: 9px;

  @include width--m {
    @include set-font-item (30px, 1.23);

    margin-bottom: 12px;
  }
}

.stats-list__description {
  color: $color-special_dark-grey;
  margin: 0;
  background-color: $color-basic_grey;
  z-index: 2;
  text-align: center;

  @include set-font-item (12px, 1, $f-family_arial);

  @include width--m {
    @include set-font-item (14px, 1, $f-family_arial);
    background-color: $color-white;

    & br {
      display: none;
    }
  }
}

.stats-list__caption {
  text-transform: uppercase;
  margin: 0;

  @media (max-width: $tablet-width) {
    flex-basis: 100%;
    text-align: center;
  }

  @include set-font-item (14px, 1.43);

  @include width--m {
    margin-left: auto;
    flex-basis: auto;

    @include set-font-item (20px, 1);
  }

  @include width--l {
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
}

.stats-list__cost {
  @include width--m {
    display: block;
    text-align: right;
  }

  @include width--l {
    padding-left: 63px;
  }
}

.example-slider {
  @include width--l {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    margin-top: -200px;
  }
}

.example-slider__image {
  max-width: 111%;
  width: 311px;
  height: 232px;
  margin-bottom: 29px;
  margin-left: -10px;

  @include width--m {
    min-width: 96%;
    width: 681px;
    height: 516px;
    margin-bottom: 15px;
    margin-left: 7px;
  }
}
