.promo-section {
  color: $color-white;
  min-height: 480px;
  margin-bottom: 24px;

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 302px;
    margin: 0 auto;
    margin-bottom: -285px;
    background: url("../img/image/index-promo-background.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/image/index-promo-background@2x.png");
      background-size: 320px auto;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 302px;
    margin: 0 auto;
    margin-top: -481px;
    background-color: $color-basic_green;
    opacity: 0.85;
  }

  @include width--m {
    color: $color-black;
    margin-bottom: 113px;
    padding-left: 83px;

    &::before,
    &::after {
      background: none;
    }
  }

  @include width--l {
    margin-bottom: 82px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 720px;
      height: 694px;
      background: url("../img/image/index-background-desktop.png") no-repeat;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/image/index-background-desktop@2x.png");
        background-size: cover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 481px;
      right: 0;
      width: 720px;
      height: 694px;
      background-color: $color-basic_green;
      z-index: -1;
    }
  }
}

.promo-section__content {
  position: relative;
  z-index: 1;

  @media (min-width: $mobile-width) and (max-width: $tablet-width -1) {
    width: 280px;
    margin: 0 auto;
  }

  @include width--l {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 552px;
  }
}

.promo-section__title {
  @include reset-indent;
  width: 269px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
  padding-left: 11px;
  padding-top: 10px;

  @include set-font-item (36px, 1);

  @include width--m {
    width: 425px;
    text-align: left;
    margin-bottom: 41px;
    padding-left: 3px;

    @include set-font-item (60px, 1);
  }

  @include width--l {
    grid-column: 1 / 2;
    margin-top: 45px;
    padding-left: 0;
    margin-right: 25px;
  }
}

.promo-section__tagline {
  @include reset-indent;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 40px;

  @include set-font-item (14px, 1);

  @include width--m {
    text-align: left;
    margin-bottom: 21px;
    padding-left: 5px;

    @include set-font-item (20px, 1);
  }

  @include width--l {
    grid-column: 1 / 2;
    padding: 0;
  }
}

.promo-section__image-goods {
  width: 280px;
  height: 270px;

  @include width--m {
    width: 709px;
    height: 609px;
    margin-left: -84px;
  }

  @include width--l {
    max-width: 115%;
    width: 559px;
    height: 491px;
    margin-top: -237px;
    margin-left: -88px;
  }
}

.promo-section__button {
  width: 100%;
  min-height: 40px;

  @include set-font-item (14px, 1.29);

  @include width--m {
    position: relative;
    top: -584px;
    z-index: 1;
    width: 0;
    min-width: 244px;
    min-height: 54px;

    @include set-font-item (20px, 1);
  }

  @include width--l {
    top: -186px;
  }
}
