.show-more {
  min-width: 279px;
  min-height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include width--m {
    min-width: 324px;
    min-height: 429px;
    justify-content: space-around;
  }

  @include width--l {
    min-width: 245px;
    min-height: 430px;
  }
}

.show-more__title {
  text-transform: uppercase;
  text-align: center;

  @include set-font-item (16px, 1.25);

  @include width--m {
    @include set-font-item (20px, 1.1);
  }
}

.show-more__text {
  color: $color-special-dark-grey;
  text-align: center;

  @include set-font-item (12px, 1.33);

  @include width--m {
    @include set-font-item (16px, 1.12);
  }
}

.show-more__button {
  min-width: 279px;
  min-height: 40px;
  background-color: $color-basic_grey;
  color: $color-special-dark-grey;

  @include set-font-item (16px, 1.25);

  @include width--m {
    @include set-font-item (16px, 0);
  }
}
