.slider-controls {
  width: 71.25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include width--m {
    width: 81.25%;
  }
}

.slider-controls__text {
  @include set-font-item (16px, 1.25);
  text-transform: uppercase;
  position: relative;

  @include width--m {
    @include set-font-item (20px, 1.5);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -6px;
      background-image: linear-gradient(90deg, $color-border-gray_3 50%, $color-transparent 50%);
      background-position: 0 0;
      background-repeat: repeat-x;
      background-size: 2px 1px;
    }

    &:hover::after {
      background-color: $color-border-gray_3;
    }

    &:active::after {
      display: none;
    }
  }
}

.slider-controls__range {
  flex-basis: 40.8%;
  height: 14px;
  background-color: $color-white;
  border-radius: 5px;
  padding: 4px 6px;

  @include width--m {
    position: relative;
    flex-basis: 73.7%;
    height: 6px;
    background-color: $color-special-grey-5;
    padding: 0;
  }
}

.slider-controls__pointer {
  width: 50%;
  height: 6px;
  background-color: $color-basic_green;
  border-radius: 5px;

  @include width--m {
    position: absolute;
    left: 47%;
    top: -15px;
    width: auto;
    height: auto;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.outer {
  @include width--m {
    width: 34px;
    height: 34px;
    border: 1px solid $color-special-grey-5;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:active {
      border-color: $color-basic_green;
    }
  }
}

.inner {
  @include width--m {
    width: 8px;
    height: 8px;
    background-color: $color-basic_green;
    border-radius: 50%;
  }
}
