html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-basic_green;
  border: none;
  outline: none;

  @include width--m {
    &:hover {
      background-color: $color-basic_green-2;
    }
  }
}

.button span {
  @include width--m {
    &:active {
      opacity: 0.3;
    }
  }
}

.wrapper {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 110px;
  }
}
