@import "global/normalize.scss";
@import "global/fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global/global.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/nav.scss";
@import "blocks/promo-section.scss";
@import "blocks/categories-list.scss";
@import "blocks/nutrition-description.scss";
@import "blocks/product-example.scss";
@import "blocks/slider-controls.scss";
@import "blocks/page-contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/form-section.scss";
@import "blocks/catalog.scss";
@import "blocks/card.scss";
@import "blocks/show-more.scss";
@import "blocks/additional-goods.scss";
@import "blocks/goods-list.scss";
@import "blocks/goods-item.scss";
