// Color

$color-basic_green :#68b738;
$color-basic_green-2: #5eaa2f;
$color-basic_grey: #f2f2f2;
$color-basic_grey-2: #ebebeb;
$color-special_grey: #cdcdcd;
$color-slecial-grey-2: #666666;
$color-special-grey-3: #e7e7e7;
$color-special-dark-grey: #444444;
$color-special_dark-grey-2: #222222;
$color-status_error: #ff8282;
$color-white: #ffffff;
$color-black: #000000;
$color-special-black: #111111;
$color-background_gray: #504f54;
$color-transparent: rgba(255, 255, 255, 0);

// Font

$f-family_oswald: "Oswald", "Arial", sans-serif;
$f-family_arial: "Arial", sans-serif;

// Viewports

$mobile-width: 321px;
$tablet-width: 768px;
$desktop-width: 1440px;
